[submodule "externals/optics"]
	path = externals/optics
	url = git@github.com:amereghe/optics.git
        branch = fromOperation
[submodule "externals/MatLabTools"]
	path = externals/MatLabTools
	url = https://github.com/CNAO/MatLabTools.git
